# Ignore macOS system files
.DS_Store

# Ignore Python bytecode
*.pyc
*.pyo

# Ignore Python cache
__pycache__

# Ignore lock files
*.lock

# Ignore environment files
.env

# Ignore genrated wesbite files
src/templates/website/